<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
  <sly data-sly-call="${clientlib.all @ categories='officecomponentclientlibrary'}" />
</sly>
<div class="officesection" data-sly-use.model="com.aempactice.core.models.OfficeComponent">
  <h1>${model.heading}</h1>
  <div class="country">
    ${model.countryName}
    <div class="offices" data-sly-list="${model.officeAddresses}" data-size="${model.officeAddresses.size}">
      <div class="officedetails">
        <p>${item.address @ context = 'html'}</p>
        <p data-sly-test="${item.buildingName}">${item.buildingName}</p>
        <p>${item.city}</p>
        <p>${item.state}</p>
        <p>${item.pincode}</p>
        <p>${item.hideOffice}</p>
        <p data-sly-text="${pageProperties.jcr:title}" data-sly-attribute="${model.attributeMap}">This text would never be shown. </p>
      </div>
    </div>
  <sle class="countrylist" >
    <p> </p>
  </div>
  <select data-sly-list="${model.countryList}">
      <option>${item.countryName}</option>
  </select>
  
  
</div>
