<div class="course-listing" 
    data-sly-use.model="com.aempactice.core.models.CourseModelImpl" 
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
    data-sly-set.isEmpty="${!model.coursePath || !model.course}">
  
        <a class="course-card" data-sly-test="${!isEmpty}" data-sly-set.course="${model.course}" data-course-id="${course.id}" data-lessons-count="${course.lessonCount}" href="${course.path @ extension='html'}">
            <img src="${course.thumbnail}" alt="" class="course-icon" />
            <div class="course-content">
                <h3>${course.title}</h3>
                <span class="course-link">${model.viewCourseLinkLabel}</span>
            </div>
        </a>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=isEmpty}"></sly>